{% extends 'core/base-index.html' %}
{% block title %}contacto{% endblock %}

{% block content %}

{% if 'ok' in  request.GET%}
    <p><b>su mensaje se envio </b></p>
{% endif%}

<section class="contact">
    <div class="container-contact">
        <form role="form" id="register-form" autocomplete="off" action="" method="post">
            {% csrf_token%}
            <h2 class="form-title"><b>CONTACTANOS</b></h2>
            <div class="row contact-row">

                <div class="form-group col contact-form">
                    <div class="input-group">
                         <label>Nombre:  </label>
                        {{form.name}}
                    </div>
                    <span class="help-block" id="error2"></span>
                </div>

                <div class="form-group col contact-form">
                    <div class="input-group">
                        <label>Email:  </label>
                        {{form.email}}
                    </div>
                    <span class="help-block" id="error3"></span>
                </div>
            </div>

            <div class="row">

                <div class="form-group col contact-form">
                    <div class="input-group">
                         <label>Comentario:   </label>
                        {{form.content}}
                    </div>

                    <span class="help-block" id="error4"></span>
                </div>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
</section>
{% endblock %}